@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .navmain {
    flex-direction: column;
  }

  .navmain__links {
    flex-direction:  column;
    justify-content: space-between;

    width:            auto;
  }

  .navmain__links li {
    margin: 15px 0 0;
  }

  .navmain__links li:first-child {
    margin: 0;
  }

  .navmain__link {
    width:      48px;
    height:     48px;
    padding:    0;
    border:     1px solid black;
    background: transparent;
  }

  .navmain__link:before {
    content:     '×';
    display:     block;
    width:       48px;
    height:      48px;
    line-height: 48px;
    text-align:  center;
    color:       black;
  }

  /*.wrap__inner:first-child {
    margin-right: 5px;
  }

  .wrap__inner:last-child {
    margin-left: 5px;
  }*/

  .intro {
    display: flex;
  }

  .body__title {
    /*border: none;*/
    font-size:  36px;
    /*text-align: center;*/
  }
}
