* {
  box-sizing: border-box;
}

html, body {
  margin:      0;
  font-family: sans-serif;
}

p {
  line-height: 1.8em;
}

a {
  cursor: pointer;
}

.app {
  display:        flex;
  flex-direction: column;

  height: 100vh;
}

.navmain {
  display:    flex;

  background: turquoise;
}

.navmain__links {
  display:          flex;
  justify-content:  space-around;

  width:      100%;
  margin:     auto;
  padding:    0;
  list-style: none;
  background: orange;
}

.navmain__link {
  overflow:   hidden;
  display:    block;
  padding:    5px 10px;
  background: black;
  color:      white;
}

.navmain__link:hover {
  background: white;
  color:      black;
}

.wrap {
  flex:       1;

  display:    flex;

  overflow-y: scroll;
  background: palegoldenrod;
}

.wrap__inner {
  flex:    1;

  display:         flex;
  flex-direction:  column;
  justify-content: center;

  /*margin:  10px;*/
  padding:             20px;
  background-position: center;
  background-repeat:   no-repeat, repeat, no-repeat;
  background-size:     100%, 4px 4px, cover;
  color:               white;
}

.title {
  margin:      10px 0;
  font-size:   48px;
  font-weight: 100;
  text-align:  center;
}

.intro {
  display:    none;
  background-image: linear-gradient(rgba(100, 149, 237, 0.5), rgba(0,0,0, 0.65)),
                    url('../images/silkscreen.svg'),
                    url('../images/pier-small.jpg');
}

.intro__content {
  margin: auto;
}

.body {
  background-image: linear-gradient(rgba(255,20,147, 0.5), rgba(0,0,0, 0.65)),
                    url('../images/silkscreen.svg'),
                    url('../images/rain-small.jpg');
}

.body__content {
  margin:  auto;
  padding: 20px;
  border:  1px solid currentColor;
}

.body__title {
  padding-bottom: 16px;
  border-bottom: 1px solid currentColor;
  text-align:    left;
}
