.navmain {
  display:    flex;

  background: turquoise;

  @include break {
    flex-direction: column;
  }
}

.navmain__links {
  display:         flex;
  justify-content: space-around;

  width:           100%;
  margin:          auto;
  padding:         0;
  list-style:      none;
  background:      orange;

  @include break {
    flex-direction:  column;
    justify-content: space-between;

    width:           auto;

    li:not(:first-child) {
      margin: 15px 0 0;
    }
  }
}

.navmain__link {
  overflow:   hidden;
  display:    block;
  padding:    5px 10px;
  background: black;
  color:      white;

  &:hover {
    background: white;
    color:      black;
  }

  @include break {
    width:      48px;
    height:     48px;
    padding:    0;
    border:     1px solid black;
    background: transparent;

    &:before {
      content:     '×';
      display:     block;
      width:       48px;
      height:      48px;
      line-height: 48px;
      text-align:  center;
      color:       black;
    }
  }
}
